.brand-logo {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header-bar ul {
  flex-grow: 0.5;
}

.header-button {
  border-color: black;
  background-color: black;
  color: rgb(255, 255, 255);
  width: 15vh;
  box-shadow: none;
  border: none;
  font-size: small;
  transition: all linear 0.6s !important;
}

.section-2 {
  background: url(./images/cover-1.jpg);
  height: 70vh;
  margin: 10px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-2-button {
  background-color: white;
  border-radius: 0;
  width: 15vh;
  padding: auto;
}

.section-3 {
  gap: 20vh;
  text-align: start;
  align-items: center;
  
}

.first-column p {
  font-size: 18px;
  letter-spacing: 0.08rem;
}

.first-cl-small-head {
  font-size: 2px;
}

.second-column {
background: url(https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc00bd9bd8ea70674d1cbf_placeholder%203.svg);
height: 300px;
width: 800px;
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

.section-3-button{
    background-color: black;
    width: 18vh;
    height: 5VH;
    letter-spacing: 3px;
    border: none;
    color: WHITE;

}

.section-3-button:hover{
    background-color: rgb(95, 116, 108);
    transition: 0.4s ease-in-out;
    color: black;
}

.about-us{
  letter-spacing: 0.10rem;
  font-size: smaller;
}

.company-news-heading{
  font-weight: lighter;
  letter-spacing: 0.15rem;
}

.news-section{
  justify-content: space-evenly;
}